<!DOCTYPE html>
<html>
  <header>
    <h1>WELCOME</h1>
    <p>Srividya Ramachandra</p>
    <p>1002008122</p>
  </header>
  <head>
      
    <p>Total Time to Execute : {{ total_time }}</p>
    <p>The source is: {{ flag }}</p>

    <title>My Page</title>
  </head>
  <body>
    <form method="POST" action="/output2">
      <p>Enter State:</p>
      <p><input type="text" name="net"></p>
      <p>Enter Magnitude:</p>
      <p><input type="number" name="mag" step="any"></p>
      <p>Enter Counter:</p>
      <p><input type="number" name="count" step="any"></p>
      <input type="submit" value="Get Data">
    </form>
    <h1>Table 1</h1>
    {{ table1 | safe }}
 
    
  </body>
</html>