<html>
    <header>
        <h1>WELCOME</h1>
        <p>Srividya Ramachandra</p>
        <p>1002008122</p>
      </header>
    <body>
        <form action = "/dist_out" method = "post">
            <p>Enter Latitude:</p>
            <p><input type = "number" name = "lat1"></p>
            <p><input type = "number" name = "lat2"></p>
            <p>Enter Longitude:</p>
            <p><input type = "number" name = "long1"></p>
            <p><input type = "number" name = "long2"></p>
            <p>Enter Distance:</p>
            <p><input type = "number" name = "dist"></p
            <p><input type ="submit" name ="Submit"></p>
          
        </form>
    </body>
</html>