<html>
    <header>
        <h1>WELCOME</h1>
        <p>Srividya Ramachandra</p>
        <p>1002008122</p>
      </header>
    <body>
        <form action = "/state" method = "post">
            <p>Enter time:</p>
            <p><input type = "text" name = "time1"></p>
            <p><input type = "text" name = "time2"></p>
            <p><input type ="submit" name ="Submit"></p>
            Latitude and Longitude Search<picture></picture><a href="latlong">Click Here</a> <br>
            Place Search<picture></picture><a href="place_search">Click Here</a> <br>
            Search Based on Range of Magnitudes<picture></picture><a href="mag">Click Here</a> <br>
            Quiz 2 Based on distances <picture></picture><a href="distance">Click Here</a> <br>
            Delete based on Magnitudes <picture></picture><a href="del_mag">Click Here</a> <br>
            Population Top and Bottom <picture></picture><a href="pop">Click Here</a> <br>
          
        </form>
    </body>
</html>