<html>
    <header>
        <h1>WELCOME</h1>
        <p>Srividya Ramachandra</p>
        <p>1002008122</p>
      </header>
    <body>
        <form action = "/mag_out" method = "post">
            <p>Enter Magnitude1:</p>
            <p><input type = "number" name = "mag1"></p>
            <p>Enter Magnitude2:</p>
            <p><input type = "number" name = "mag2"></p>
            <p><input type ="submit" name ="Submit"></p>
        
            To See all States within a population range<picture></picture><a href="get_pop">Click Here</a> <br>
            To See Top and Bottom States<picture></picture><a href="top_pop">Click Here</a> <br>
        </form>
    </body>
</html>