<html>
    <header>
        <h1>WELCOME</h1>
        <p>Srividya Ramachandra</p>
        <p>1002008122</p>
      </header>
    <body>
        <form action = "/disp_pop" method = "post">
            <p>Enter Population1:</p>
            <p><input type = "number" name = "pop1"></p>
            <p>Enter Population2:</p>
            <p><input type = "number" name = "pop2"></p>
            <p><input type ="submit" name ="Submit"></p>
        
            
        </form>
    </body>
</html>